<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APPWRITE_PROJECT_ID: "68b99ac200214f7d27cc"</key>
	<string>my-project-id</string>
	<key>APPWRITE_PROJECT_NAME: "FuelAI"</key>
	<string>FuelAI</string>
	<key>APPWRITE_PUBLIC_ENDPOINT: "https://nyc.cloud.appwrite.io/v1"</key>
	<string>https://cloud.appwrite.io/v1</string>
</dict>
</plist>
